# Intellij IDEA files
.idea/
.vscode/
*.iml

# Project config
*.iws
*.ipr

# Compilation files
/out/
build/
target/

# Tmp
.DS_Store
Thumbs.db

# Archivos de base de datos local
*.mv.db
*.trace.db
models/

*.log
*.txt
*.db
